In [7]:
import numpy as np
import pandas as pd
import math
import os
import random
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
os.chdir("C:/Users/Sagar Ghiya/Desktop")

In [3]:
#Importing data
df = pd.read_csv('hour.csv')
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [4]:
#Dropping columns that are not needed for building model.
df1 = df.drop(['instant', 'dteday', 'casual', 'registered'], axis = 1)
df1.head()

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
3,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
4,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1

In [5]:
#Dividing data into train and test
df2 = df1.drop(['cnt'], axis = 1)
y = df1['cnt']
x_trn, x_tst, y_trn, y_tst = train_test_split(df2,y, test_size = 0.3)

# Training Deep Neural Network

In [18]:
model_nn = MLPRegressor(hidden_layer_sizes = (30,30,30,30), activation = 'relu', solver = 'sgd', batch_size = 128, max_iter = 1000000, random_state = 42)

In [19]:
#Initializing hyperparameters
param_grid = {'alpha' : [0.01, 0.1, 1] , 'learning_rate_init':[0.00001, 0.0001, 0.001,0.01] }

In [ ]:
#Cross validation to find optimalhyperparameters
grid_search = GridSearchCV(estimator = model_nn, param_grid = param_grid, cv = 5, n_jobs = -1)
grid_search.fit(x_trn, y_trn)

In [ ]:
grid_search.best_params_

In [ ]:
final_model_nn = grid_search.best_estimator_
final_model_nn

In [ ]:
# Evaluating model with Root Mean Squared Error
def evaluate(model, features, labels):
    predictions = model.predict(features)
    mse = mean_squared_error(labels,predictions)
    return np.sqrt(mse)

In [ ]:
train_error = evaluate(final_model_nn, x_trn, y_trn)
print("Train error is : " , train_error)

In [ ]:
test_error = evaluate(final_model_nn, x_tst, y_tst)
print("Test error is : ", test_error)